#root {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    text-align: center;
    font-size: larger;
}

h1, h2, h3 {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

article {
    margin: 5%;
}

form {
    display:flex;
    flex-direction: column;

}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
    width: 80%;
    margin: 0 auto;
  }

input[type="text"] {
    padding: 5%;
    font-size: large;
}

.component {
    border: 2px solid rgb(19, 26, 218);
    max-width: 100%;
}

.article-img {
    width: 100%;
    height: auto;
}

.stylised-box {
    background-color: brown;
    color: white;
    font-weight: 500;
    border: 5px solid rgb(92, 24, 24);
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.error-message {
    color: red;
    font-size: larger;
}

.button {
    font-size: larger;
    margin: 2%;
}

.no-underline {
    text-decoration: none;
}

.green-button {
    background-color: rgb(150, 208, 150);
}

.red-button {
    background-color: rgb(255, 161, 143);
}

.blue-button {
    background-color: rgb(150, 195, 255);
}